html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}


audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover,
a:focus {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
.strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #cfcfcf;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: fixed;
	background-color: rgba(50, 50, 50, 0.7);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
    z-index: 1000;
}

.lightbox h2 a {
	float: right;
}

.fancybox-photos {
	height: auto;
	margin: 50px 0;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	width: 75% !important;
	margin: 0 auto;
	padding: 15px;
	height: auto;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}

.fancybox-outer,
.fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: auto !important;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
	background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url("../images/fancybox/blank.gif"); /* helps IE */
	-webkit-tap-highlight-color: transparent;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url("../images/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

body.modal-open {
	overflow: hidden;
	margin-right: 17px;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, .8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/

#popup1 .counter, #popup2 .counter {
	color: #999;
}

.description-list,
.about blockquote,
.contact-list,
.social-networks,
.photo-list,
.photo-carousel,
.likes-list,
.applications-list,
.cash-list,
.rating-list,
.rating {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.container:after,
.inform-section:after,
.description-list:after,
.col-left section:after,
.contact-list:after,
.cash-list:after,
.rating-list li:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #fff;
	font: 14px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	margin: 0 0 10px;
	color: #999;
	font-weight: normal;
	text-transform: uppercase;
}

h1,
.h1 {
	font-size: 18px;
}

h2,
.h2 {
	font-size: 16px;
}

h3,
.h3 {
	font-size: 14px;
}

h4,
.h4 {
	font-size: 12px;
}

h5,
.h5 {
	font-size: 11px;
}

h6,
.h6 {
	font-size: 10px;
}

p {
	margin: 0 0 8px;
}

a {
	color: #059;
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;
}

a:hover,
a:focus {
	color: #008eff;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #cfcfcf;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cfcfcf;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #cfcfcf;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #cfcfcf;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cfcfcf;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #cfcfcf;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

#wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	display: table;
	margin: 0 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1268px;
}

#main .container {
	margin: 20px auto;
}

#header {
	min-height: 70px;
	margin-bottom: 20px;
}

#header .container {
	border: 1px solid #cfcfcf;
	padding: 8px 11px;
	max-width: 1238px;
	max-width: none;
}

#header .inputs {
	float: left;
	margin-top: 15px;
	margin-left: 50px;
	width: 60%;
}

#header .inputs input {
	width: 12%;
	margin: 0 5px;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(100, 100, 100, 0.5);
	padding-bottom: 3px;
}

#header .inputs button {
	margin: 0 30px;
	border: none;
	padding: 5px 10px;
	background: gainsboro;
	box-shadow: 0px 0px 3px rgba(100,100,100,0.8);
}

.logo {
	max-width: 170px;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	float: left;
}

.logo:hover {
	opacity: .8;
}

.logo img {
	max-width: 100%;
}

.header-text {
	float: right;
	font-size: 12px;
	color: #666;
	text-align: right;
}

.header-text p {
	margin: 0 0 5px;
}

.gray-text {
	color: #999;
}

.btn-back {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	margin: 6px -4px 6px 0;
}

.inform-section {
	position: relative;
	border: 1px solid #cfcfcf;
	padding: 0 380px 0 0;
	margin: 0 0 15px;
}

.inform-holder {
	padding: 20px 10px;
	overflow: hidden;
}

.map-holder {
	width: 380px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	overflow: hidden;
}

/*.map-holder img {
	height: 100%;
	max-width: none;
	transform: translateX(-50%);
	position: absolute;
	top: 0;
	left: 50%;
}*/

.map-holder:hover {
	cursor: pointer;
}

.foto-holder {
	float: left;
	/*max-width: 180px;*/
	width: 180px;
}

.foto-holder img {
	width: 100%;
}

.title {
	display: block;
}

.description-text {
	padding: 0 20px 0px;
	overflow: hidden;
	font-size: 14px;
}

.description-text .title .name {
	font-size: 26px;
	font-weight: normal;
}

.description-text .title span {
	font-size: 18px;
	font-weight: normal;
}

.description-text .title .dot {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.description-text .title .dot:before {
	content: ".";
	font-size: 25px;
	position: absolute;
	left: -13px;
	top: -13px;
}

.description-text .title img {
	margin-top: -2px;
}

.description-text .title .gray-text {
	font-size: 14px;
	background: none;
	color: #999;
	font-weight: normal;
}

.description-text .proffesion {
	color: #333;
	display: block;
}

.description-text .data {
	display: block;
}

.description-list {
	margin: 25px 0 15px;
	font-size: 14px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.description-list li {
	padding: 0 15px 0 0;
}

.description-list p {
	overflow: hidden;
	margin: 0 0 10px;
}

.info-menu {
	overflow: hidden;
	list-style: none;
	padding: 0;
	text-align: center;
}

.info-menu li {
	cursor: pointer;
	display: inline-block;
	margin: 0 20px;
}

.info-menu li.active {
	font-weight: 700;
	border-bottom: 3px solid #303030;
}

.col-left {
	border: 1px solid #cfcfcf;
	overflow: hidden;
    display: none;
}

.col-left.active-block {
    display: block;
}

.col-left section {
	border-bottom: 1px solid #cfcfcf;
	padding: 18px 0px 18px 8px;
}

.col-left section:last-child {
	border: none;
}

.col-left section h1 {
	float: left;
	width: 200px;
}

.col-left section .text-holder {
	overflow: hidden;
	font-size: 14px;
}

.col-right {
	border: 1px solid #cfcfcf;
	float: right;
	width: 380px;
	margin-left: 20px;
}

.employment-section .is-busy .row {
	opacity: 0;
}

.employment-section .dot {
	position: relative;
	display: inline-block;
	margin: 0  10px;
}

.employment-section .dot:before {
	content: ".";
	position: absolute;
	left: -9px;
	top: -5px;
}

.employment-section .row {
	-webkit-transition: all .4s;
	transition: all .4s;
	opacity: 1;
	padding: 14px 0 0;
	margin: 18px 0 0;
	border-top: 1px solid #cfcfcf;
}

.load-holder .row:first-child {
	margin: 0 0 0px;
	border-top: none;
}

.employment-section .title {
	margin: 0 0 5px;
}

.employment-section .gray-text {
	position: relative;
	margin-left: 16px;
	display: inline-block;
	vertical-align: middle;
}

/*.employment-section .gray-text:before {
	content: ".";
	font-size: 18px;
	position: absolute;
	left: -10px;
	top: -6px;
}*/

.about blockquote {
	margin: 0 0 10px;
}

.about .is-busy .row {
	opacity: 0;
}

.about .row {
	-webkit-transition: all .4s;
	transition: all .4s;
	opacity: 1;
	margin: 0 0 15px;
}

.about .img-social {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.about .img-social:hover {
	opacity: .8;
}

.contact-list {
	font-size: 14px;
	float: left;
	width: 50%;
}

.contact-list li {
	padding: 8px  10px;
}

.contact-list li > a {
	color: #333;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.contact-list li > a:hover {
	color: gray;
}

.contact-list a[href^="tel"]:after,
.contact-list a[href^="mail"]:before,
.contact-list a[href^="skype"]:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	height: 20px;
	width: 18px;
	background: url(../images/img-10.png) no-repeat;
}

.contact-list a[href^="tel"]:before {
	background: url(../images/img-10.png) no-repeat;
	margin-left: -22px;
	position: absolute;
}

.contact-list a[href^="mail"]:before {
	background: url(../images/img-08.png) no-repeat;
	margin-left: -22px;
	position: absolute;
}

.contact-list a[href^="skype"]:before {
	background: url(../images/img-09.png) no-repeat;
}

.contact-list .csv {
	background: #f2f2f2;
	overflow: hidden;
	margin-right: 10px;
}

.contact-list .csv > a {
	overflow: hidden;
	margin-left: 25px;
}

.contact-list .csv > span {
	float: right;
}

.contact-list .csv a:after {
	display: none;
}

.website-list {
	list-style: outside none none;
	padding: 0px;
}

.interest {
	margin-right: 15px;
}

.social-networks {
	overflow: hidden;
	width: 100%;
	text-align: justify;
}

.social-networks:after {
	content: "";
	display: inline-block;
	width: 100%;
	margin: 0 -4px 0 0;
}

.social-networks li {
	display: inline-block;
	vertical-align: top;
	margin: 0 26px 0 10px;
	text-align: center;
}

.social-networks a:hover {
	opacity: .8;
}

.social-networks .img-box {
	margin: 10px auto;
	height: 50px;
	overflow: hidden;
	width: 50px;
}

.social-networks .img-box img {
	height: 100%;
	border-radius: 50%;
	width: 100%;
}

.photos .counter {
	font-weight: normal;
	font-size: 14px;
	margin-left: 5px;
}

.photos .btn-box {
	float: left;
	padding: 0 20px;
	font-size: 14px;
}

.photo-list {
	float: left;
	width: 100%;
	text-align: center;
}

.photo-list li {
	float: left;
	width: 25%;
	padding: 10px;
	height: 150px;
	overflow: hidden;
}

.photo-list li img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

#popup2 .fancybox-skin {
	width: 60% !important;
}

.photo-carousel {
	overflow: hidden;
}

.photo-carousel a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10%;
	text-align: center;
	opacity: 0.3;
}

.photo-carousel a:hover {
	opacity: 1;
}

.photo-carousel a:before {
	content: '<';
	font-size: 30px;
	top: 50%;
	margin-top: -15px;
	position: absolute;
	color: #b3b3b3;
	text-shadow: 2px 2px 5px black;
}

.photo-carousel  .next-photo {
	right: 0;
	left: auto;
	margin-right: 150px;
	transform: rotate(180deg);
}

.photo-current img {
	width: 100%;
}

.photo-info {
	width: 150px;
	float: right;
	padding: 10px;
}

.photo-info .photo-source {
	width: 100%;
	display: block;
}

#popup2 h2 {
	position: absolute;
	right: 0;
}

/* example lightbox styles */

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}

.likes-list {
	overflow: hidden;
	width: 100%;
	font-size: 14px;
}

.likes-list li {
	float: left;
	width: 25%;
	margin: 0 0 20px;
}

.likes-list .img-wrapper {
	width: 50px;
	float: left;
	margin-right: 10px;
}

.likes-list .img-wrapper img {
	max-width: 100%;
}

.likes-list p {
	margin: 0 0 5px;
}

.applications-list {
	overflow: hidden;
	width: 100%;
	font-size: 14px;
}

.applications-list li {
	float: left;
	width: 25%;
	margin: 0 0 20px;
}

.applications-list .img-wrapper {
	width: 30px;
	float: left;
	margin-right: 10px;
}

.applications-list .img-wrapper img {
	max-width: 100%;
}

.applications-list p {
	margin: 0 0 5px;
}

.col-right {
	font-size: 14px;
}

.col-right section {
	padding: 15px 10px;
	border-bottom: 1px solid #cfcfcf;
}

.col-right section h2 {
	font-size: 18px;
}

.text-frame {
	overflow: hidden;
}

.text-frame .img-left {
	float: left;
	max-width: 42px;
	margin-right: 10px;
}

.text-frame .text-frame,
.text-frame .text-right {
	overflow: hidden;
}

.text-frame .title {
	color: #333;
	display: block;
	margin: 0 0 10px;
}

.cash {
	background: #f2f2f2;
}

.cash-list {
	padding: 10px;
}

.cash-list li {
	float: left;
	width: 50%;
}

.cash-list .title {
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 10px;
}

.rating-list li {
	margin: 0 0 40px;
}

.rating-list p {
	float: left;
}

.rating-list .btn-frame {
	text-align: right;
	overflow: hidden;
	padding-right: 5px;
}

.rating-list .procent {
	display: inline-block;
}

.rating {
	margin: 0 0 5px;
	display: inline-block;
}

.rating li {
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 3px;
}

.rating li img {
	vertical-align: inherit;
}

.rating-list .gray-text {
	display: block;
}

.lightbox {
	padding: 5px;
}

.col-left section .lightbox {
	padding: 0;
}

.lightbox .photo-list {
	padding: 0;
	margin: 0 -10px;
}

.lightbox .photo-list li {
	width: 20%;
	height: 180px;
}

.lightbox h2 {
	margin: 0 0 10px;
}

.lightbox p {
	margin: 0;
}

#footer {
	margin-top: 30px;
	text-align: center;
	display: table-footer-group;
	height: 1%;
}

#footer .container {
	max-width: 1238px;
	padding: 20px;
	background: #f2f2f2;
	color: #999;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	#fancybox-loading,
	.fancybox-close,
	.fancybox-prev span,
	.fancybox-next span {
		background-image: url("../images/fancybox/fancybox_sprite@2x.png");
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url("../images/fancybox/fancybox_loading@2x.gif");
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

#page404 {
    text-align: center;
    font-size: 10em;
}

.post-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.post-list {
    margin: 0;
    padding: 0;
}

.post-list li{
    list-style-type: none;
}

@keyframes clockwise {
	to {transform: rotate(360deg) translatez(0);}
}

.preloader {
	right: 0;
	left: 0;
	margin: 150px auto;
	height: 100px;
	width: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: hsla(200, 100%, 40%, 0.75) hsla(200, 100%, 40%, 0.75) hsla(200, 100%, 40%, 0.25) hsla(200, 100%, 40%, 0.25);
	border-radius: 100%;
	animation: clockwise 1s linear infinite;
}